discord.py==2.5.2
geniuslib @ git+https://github.com/AkumaHalls/GeniusLib.git
python-dotenv
aiohttp
pytz
motor
aiohttp-session
cryptography
numpy==1.26.4
scikit-learn==1.4.1.post1
thefuzz==0.22.1
python-Levenshtein==0.25.0
